@use "global" as *;

.layout-top-campaign {
    margin-top: rem(40);
    // なぜかcampaignのボタンのみ下側が見切れてしまうため、padding-bottomを追加（苦肉の策）
    padding-bottom: rem(4);
    @include mq("md") {
        margin-top: rem(120);
    }
}