@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
// PCの場合
$inner: 1080px;
// SPの場合
$inner-sp: 540px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: 'Noto Sans JP', sans-serif;
$second-font-family: 'Gotu', sans-serif;
$third-font-family: 'Lato', sans-serif;
// ※検証ツールでしっかり反映されているか確認する



// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #0D2936;
$black2: #000;
$white: #fff;
// $green: #408F95;
// $red: #C94800;
// $gray: #DDF0F1;

$blue: #29518E;
$dark-blue: #303E61;
$green: #7BCFDA;
$white-green: #C8EEF1;
$gray: #E9EEF4;
$green-white: #E4F6F8;
$blue-black: #1D2025;
$red: #CE5A5A;


////////////////////
// z-index
////////////////////

$layer-header: 100;
$layer-header-logo: 200;
$layer-hamburger: 200;
$layer-sp-nav: 50;
$layer-to-top: 300;
$layer-decoration: 20;