@use "global" as *;

// SP時のinner幅は共通のinnerの値を割り当てて、blog-sidebar__listクラスで%管理する方が良さそう
// .blog-sidebar__inner.inner {
//     // padding-right: rem(40);
//     // padding-left: rem(40);
//     @include mq("md") {
//         padding-right: 0;
//         padding-left: 0;
//     }
// }

.blog-sidebar {
    display: grid;
    gap: rem(80);
}

.blog-sidebar__item-button {
    text-align: center;
    margin-top: rem(40);
    // margin-top: rem(41.6);
}


.blog-sidebar__item-cards,
.blog-sidebar__item-voice,
.blog-sidebar__item-campaign-cards,
.blog-sidebar__item-archive {
    margin-top: rem(24);
}

// .blog-sidebar__list {
//     display: flex;
//     flex-direction: column;
//     gap: rem(80);

//     // innerではなく、blog-sidebar__listの方で幅を%管理（画面幅375pxの際、コンテンツ幅294pxになるように）
//     // 375pxからinnerの左右padding分の値を引いた値が345px
//     width: calc(calc(294 / 345) * 100%);
//     margin: 0 auto;
//     @include mq("md") {
//         width: 100%;
//     }

// }

// .blog-sidebar__item-voice {
//     // max-width: rem(294);
//     // blog-sidebar__listクラスの方で幅を%管理するので、ここではwidth:100%とする
//     width: 100%;
// }

// .blog-sidebar__item-archive {
//     // max-width: rem(294);
//     // blog-sidebar__listクラスの方で幅を%管理するので、ここではwidth:100%とする
//     width: 100%;
// }



// .blog-sidebar__item {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-content: center;
// }