@use "global" as *;

.blog-card {
    display: inline-block;
    background-color: $white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(16) rem(16) rem(24);

    // hover指定がない場合のaタグの透過処理
    transition: opacity 0.3s;

    // テキスト量が増えてもcampaign-cardの高さを揃えるための記述
    display: flex;
    flex-direction: column;
}

.blog-card__img {
    // aspect-ratio: 301 / 201;
    aspect-ratio: 302 / 201;
    overflow: hidden;
}

.blog-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card__body {
    margin-top: rem(24);

    // テキスト量が増えてもcampaign-cardの高さを揃えるための記述
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.blog-card__time {
    font-family: $second-font-family;
    font-size: rem(12);
    line-height: 1.5;
}

.blog-card__title {
    font-weight: $medium;
    font-size: rem(16);
    line-height: 1.5;
    border-bottom: 1px solid $blue;
    padding-bottom: rem(4);

    // タイトルが長い場合に切り捨てるための記述
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;

    // テキスト量が増えてもcampaign-cardの高さを揃えるための記述
    // flex-grow: 1;
}

.blog-card__text {
    font-size: rem(16);
    line-height: 1.5;
    margin-top: rem(16);
}


// blog-cardにhoverした際、画像拡大
.blog-card__img {
    overflow: hidden;
}

.blog-card__img img {
    transition: transform 0.5s ease;
}

.blog-card:hover .blog-card__img img {
    transform: scale(1.3);
}
