@use "global" as *;

.blog-sidebar {
    display: grid;
    gap: rem(80);
}

.blog-sidebar__item-button {
    text-align: center;
    margin-top: rem(40);
    // margin-top: rem(41.6);
}


.blog-sidebar__item-cards,
.blog-sidebar__item-voice,
.blog-sidebar__item-campaign-cards,
.blog-sidebar__item-archive {
    margin-top: rem(24);
}