@use "global" as *;

.breadcrumbs span {
    display: inline-block;
    font-size: rem(14);
    text-transform: uppercase;
}

// .breadcrumbs span:not(:first-child) {
//     // margin-left: rem(8);
//     margin-left: rem(3.2);

// }

// 改行した際、先頭にも余白がついてズレてしまうのを防ぐ（_layout-breadcrumbs.scssにも関連記述あり）
.breadcrumbs__inner > span {
    margin-left: rem(3.2);
}

.breadcrumbs a:hover {
    @include mq("md") {
        opacity: 0.8;
    }
}



// 404ページのみ適用
.breadcrumbs.breadcrumbs--color {
    background-color: $green;
    color: $white;
}