@use "global" as *;

.button {
   display: inline-block;
   font-family: $second-font-family;
   font-size: rem(14);
   // line-height: 1.571;
   // 改行ないことが前提
   line-height: 1;
   //  padding: rem(16) rem(40);
   // padding: rem(15.2) rem(39.3);
   // padding: 1.3286em 2.8071em;
   // 左右の値は取るけど少なめ（テキスト量増加に対応）
   padding: 1.3286em 1em;
   // テキスト量変わってもボタン幅固定のため指定
   max-width: rem(202);
   width: 100%;
   text-align: center;
   border: 1px solid $blue;

   // 後ろ側の重なり部分（box-shadowではwhiteの部分を透明にできないため疑似要素使う方法に変更）
  //  box-shadow: 0 0 0 1px $green, 4px 4px 0 0 $white, 4px 4px 0 1px $green;

   // ホバー時スライド用のコード
   background-color: $blue;
   color: $white;
   // 背景線隠れてしまうため指定しない
   // overflow: hidden;
   position: relative;
   z-index: 1;
   transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.button::first-letter {
   text-transform: capitalize;
}

.button__arrow {
   display: inline-block;
   width: rem(40);
   height: rem(6);
   -webkit-mask-image: url(../images/common/button-arrow.svg);
   -webkit-mask-size: contain;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: center;
   mask-image: url(../images/common/button-arrow.svg);
   mask-size: contain;
   mask-repeat: no-repeat;
   mask-position: center;
   background-color: $white;
   // margin-left: rem(8);
   margin-left: rem(9.6);
   padding-bottom: rem(12);
}

// 以下、ホバー時スライド用のコード
.button::after {
   background-color: $white;
   position: absolute;
   top: 0;
   left: 0;
   content: "";
   width: 100%;
   height: 100%;
   transform: scale(0, 1);
   // transform: scale(0, 2);
   // hover時の見た目微調整
   // transform: scale(0, 1.02);
   transform-origin: left top;
   transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
   z-index: -1;
}

.button:hover {
   color: $blue;
}

.button:hover .button__arrow {
   background-color: $blue;
}

.button:hover::after {
   transform: scale(1, 1);
   // transform: scale(1, 2);
   // hover時の見た目微調整
   // transform: scale(1, 1.02);
}

//  後ろ側の重なり部分
 .button::before {
   position: absolute;
   content: "";
   top: rem(4);
   bottom: rem(-4.4);
   left: rem(4);
   right: rem(-5.6);
   border: 1px solid $blue;
   z-index: -1;
 }

// contactセクションのみ適用
.button.button--common-contact {
   border: 1px solid $red;
   // ホバー時スライド用のコード
   background-color: $red;
}

.button.button--common-contact:hover {
   color: $red;
}

.button.button--common-contact:hover .button__arrow {
   background-color: $red;
}

//  後ろ側の重なり部分
.button.button--common-contact::before {
   border: 1px solid $red;
 }



// top-priceセクションのみ適用
.button.button--top-price {
   border: 1px solid $white;
   background-color: $white;
   color: $blue;
   // transition: opacity 0.3s;
}

.button__arrow.button__arrow--top-price {
   background-color: $dark-blue;
}


.button.button--top-price::after {
   // background-color: $white;
   background-color: $dark-blue;
}

.button.button--top-price:hover {
   color: $white;
}

.button:hover .button__arrow.button__arrow--top-price {
   background-color: $white;
}

.button.button--top-price::before {
   border: 1px solid $white;
}

.button.button--top-price span {
   text-transform: uppercase;
}


// 404ページのみ適用
.button.button--404 {
   border: 1px solid $white;
   background-color: $white;
   color: $blue;
   // transition: opacity 0.3s;
}

.button__arrow.button__arrow--404 {
   background-color: $blue;
}


.button.button--404::after {
   // background-color: $white;
   background-color: $blue;
}

.button.button--404:hover {
   color: $white;
}

.button:hover .button__arrow.button__arrow--404 {
   background-color: $white;
}

.button.button--404::before {
   border: 1px solid $white;
}

.button.button--404 span {
   text-transform: uppercase;
}

// 色反転ではなく、透過させる場合
// // .button.button--color:hover {
// //    color: $green;
// //    @include mq("md") {
// //       opacity: 0.8;
// //    }
// // }