@use "global" as *;

.contact {
    position: relative;
}

.contact::before {
    display: inline-block;
    width: rem(120);
    height: rem(55);
    -webkit-mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $green;

    position: absolute;
    content: "";
    top: rem(-23.9);
    z-index: -10;
    // 画面幅広いときに広がりすぎないようにする
    // left: calc(50% - min(43vw, 38.75rem));
    // 画面狭いときに中に入りすぎないように調整
    left: calc(50% - min(50vw, 17.15rem));
    // あしらい画像サイズ可変する場合の例
    width: clamp(rem(150), 20.9vw, rem(301));
    @include mq("md") {
        top: rem(-68.7);
        width:rem(301);
        height:rem(138);
        left: calc(50% - min(43vw, 38.75rem));
    }
}

.contact__inner.inner {
    // コンテンツ幅540px＋左右padding15px分
    max-width: rem(570);
    @include mq("md") {
    // コンテンツ幅700px＋左右padding25px分
    max-width: rem(750);
    }
}

.contact__item {
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
        // justify-content: space-between;
    }
}

.contact__item:first-child {
    padding-bottom: rem(24);
    @include mq("md") {
        padding-bottom: rem(40);
    }
}

.contact__item:not(:first-child) {
    // padding-top: rem(24);
    // 上下にpaddingを取る
    padding-block: rem(24);
    // margin-top: rem(24);
    border-top: 1px dashed $green;
    @include mq("md") {
        // padding-top: rem(40);
        // 上下にpaddingを取る
        padding-block: rem(40);
        // margin-top: rem(40);
    }
}

.contact__item-title {
    // display: inline-block;
    display: flex;
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(16);
    color: $black;
    // 上部に僅かなスペースできてしまうため、line-heightを1にしている
    line-height: 1;
    width: 100%;
    @include mq("md") {
        display: inline-block;
        width: calc(220 / 700 * 100%);
    }

}

.contact__item-title > span {
    display: inline-block;
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(12);
    color: $white;
    background-color: $red;
    line-height: 1;
    padding: rem(4) rem(16);
    margin-left: rem(8);
}

// .contact__item-input {
//     width: 100%;
//     @include mq("md") {
//         width: calc(480 / 700 * 100%);
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="name1"],
.wpcf7-form-control-wrap[data-name="email"],
.wpcf7-form-control-wrap[data-name="tel"] {
    width: 100%;
    @include mq("md") {
        width: calc(480 / 700 * 100%);
    }
}

// お名前、メールアドレス、電話番号
    [type="text"],
    [type="email"],
    [type="tel"] {
        // reset.scssと重複するものは記述していない
        padding: 0;
        box-shadow: none;
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        width: 100%;
        // リセットじゃない部分
        border: 1px solid $green;
        margin-top: rem(16);
        padding: rem(8) rem(16);

        @include mq("md") {
            margin-top: 0;
        }
    }

    // アクセシビリティの観点で、選択されている部分に色を付ける場合は有効にする
    // [type="text"]:focus,
    // [type="email"]:focus,
    // [type="tel"]:focus {
    //     outline: 2px solid $red;
    //     /* 自由な色に変更可能 */
    //     outline-offset: 0;
    // }

    [type="text"]::placeholder,
    [type="email"]::placeholder,
    [type="tel"]::placeholder {
        font-family: $base-font-family;
        font-weight: $regular;
        font-size: rem(16);
        color: $gray;
    }


// お問い合わせ項目
// .contact__item-check {
//     @include mq("md") {
//         width: calc(480 / 700 * 100%);
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="check"] {
    @include mq("md") {
        width: calc(480 / 700 * 100%);
    }
}

// .contact__item-checkbox {
//     display: flex;
//     flex-direction: column;
//     margin-top: rem(16);
//     @include mq("md") {
//         margin-top: 0;
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-checkbox {
    display: flex;
    flex-direction: column;
    margin-top: rem(16);
    @include mq("md") {
        margin-top: 0;
    }
}

    [type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

// .contact__item-check-label {
//     position: relative;
//     display: inline-block;
//     padding: rem(1.9) 0;
//     padding-left: rem(22); /* カスタムチェックボックスにスペースを確保 */
//     cursor: pointer;
//     @include mq("md") {
//         padding: rem(1.5) 0;
//         padding-left: rem(22);
//     }
// }

// Contact Form 7導入に伴うクラス名変更
// 補足：同意確認のチェックボックスとクラス名が同じのため先頭にIDを付与
#your-check .wpcf7-list-item > label {
    position: relative;
    display: inline-block;
    padding: rem(1.9) 0;
    padding-left: rem(22); /* カスタムチェックボックスにスペースを確保 */
    cursor: pointer;
    @include mq("md") {
        padding: rem(1.5) 0;
        padding-left: rem(22);
    }
}

// .contact__item-check-text {
//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(16);
//     color: $black2;
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="check"] .wpcf7-list-item-label {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    color: $black2;
}

/* Custom Checkbox Design */
// .contact__item-check-text::before {
//     content:"";
//     display: inline-block;
//     width: rem(14);
//     height: rem(14);
//     border: 1px solid $green;
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translateY(-50%);
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="check"] .wpcf7-list-item-label::before {
    content:"";
    display: inline-block;
    width: rem(14);
    height: rem(14);
    border: 1px solid $green;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Custom Checkbox Checked State */
// [type="checkbox"]:checked + .contact__item-check-text::before {
//     border-color: #3498db; /* Border color when checked */
//   }

// [type="checkbox"]:checked + .contact__item-check-text::after {
//   content: "";
//   display: block;
//   //width: 5px;
//   width: rem(5);
//   //height: 10px;
//   height: rem(10);
//   border: solid $red;
//   border-width: 0 2px 2px 0;
//   position: absolute;
//   top: 50%;
//   left: rem(4.5);  /* Adjusted position */
//   transform: translateY(-50%) rotate(45deg);
// }

// Contact Form 7導入に伴うクラス名変更
// 補足：同意確認のチェックボックスとクラス名が同じのため先頭にIDを付与
#your-check [type="checkbox"]:checked + .wpcf7-list-item-label::after {
  content: "";
  display: block;
  //width: 5px;
  width: rem(5);
  //height: 10px;
  height: rem(10);
  border: solid $red;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: rem(4.5);  /* Adjusted position */
  transform: translateY(-50%) rotate(45deg);
}

// アクセシビリティの観点で、選択されている部分に色を付ける場合は有効にする
/* Focus State */
// [type="checkbox"]:focus + .contact__item-check-text::before {
//     outline: 2px solid $red; /* Outline color when focused */
//   }

// [type="checkbox"]:focus + .contact__item-check-text::before {
//     outline: 1px solid $green; /* Outline color when focused */
//   }

// Contact Form 7導入に伴うクラス名変更
// 補足：同意確認のチェックボックスとクラス名が同じのため先頭にIDを付与
#your-check [type="checkbox"]:focus + .wpcf7-list-item-label::before {
    outline: 1px solid $green; /* Outline color when focused */
  }



// キャンペーン
/* Style for the select box container */
// .contact__item-select-container {
//     position: relative;
//     display: inline-block;
//     width: 100%; /* Set a width */
//     // margin-bottom: 20px;
//     margin-top: rem(16);
//     @include mq("md") {
//         width: calc(480 / 700 * 100%);
//         margin-top: 0;
//     }
//   }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="category"] {
    position: relative;
    display: inline-block;
    width: 100%; /* Set a width */
    // margin-bottom: 20px;
    margin-top: rem(16);
    @include mq("md") {
        width: calc(480 / 700 * 100%);
        margin-top: 0;
    }
  }

/* Style for the select box */
// .contact__item-select-box {
//     // padding: rem(12) rem(8);
//     padding: rem(10.4) rem(8);
//     border: 1px solid $green;
//     outline: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     width: 100%; /* Make it fill the container */
//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(12);
//     color: $black2;
//   }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-select {
    // padding: rem(12) rem(8);
    padding: rem(10.4) rem(8);
    border: 1px solid $green;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; /* Make it fill the container */
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(12);
    color: $black2;
  }

/* Arrow icon using a pseudo-element */
// .contact__item-select-container::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     right: rem(8);
//     width: 0;
//     height: 0;
//     transform: translateY(-50%);
//     // border使った三角形
//     // border-left: 5px solid transparent;
//     // border-right: 5px solid transparent;
//     // border-top: 5px solid #000;
    
//     // clip-path使った三角形
//     background-color: $green;
//     width: rem(12);
//     // height: rem(12);
//     height: calc(rem(12) / 2 * tan(60deg));
//     clip-path: polygon(0 0, 100% 0%, 50% 100%);
//   }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="category"]::after {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(8);
    width: 0;
    height: 0;
    transform: translateY(-50%);
    // border使った三角形
    // border-left: 5px solid transparent;
    // border-right: 5px solid transparent;
    // border-top: 5px solid #000;
    
    // clip-path使った三角形
    background-color: $green;
    width: rem(12);
    // height: rem(12);
    height: calc(rem(12) / 2 * tan(60deg));
    clip-path: polygon(0 0, 100% 0%, 50% 100%);
  }

// アクセシビリティの観点で、選択されている部分に色を付ける場合は有効にする
/* Focus State */
// .contact__item-select-box:focus {
//     // border-color: #3498db; /* Border color when focused */
//     outline: 2px solid $red;
//     /* 自由な色に変更可能 */
//     outline-offset: 0;
//   }

// .contact__item-select-box:focus {
//     // border-color: #3498db; /* Border color when focused */
//     outline: 1px solid $green;
//     /* 自由な色に変更可能 */
//     outline-offset: 0;
//   }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-select:focus {
    // border-color: #3498db; /* Border color when focused */
    outline: 1px solid $green;
    /* 自由な色に変更可能 */
    outline-offset: 0;
  }



// お問い合わせ内容
// .contact__item-textarea {
//     width: 100%;
//     // margin-top: rem(16);
//     margin-top: rem(17.6);
//     @include mq("md") {
//         width: calc(480 / 700 * 100%);
//         margin-top: 0;
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="textarea"] {
    width: 100%;
    // margin-top: rem(16);
    margin-top: rem(17.6);
    @include mq("md") {
        width: calc(480 / 700 * 100%);
        margin-top: 0;
    }
}

/* Style for the text area */
textarea {
    width: 100%; /* Set the width */
    height: rem(200); /* Set the height */
    padding: rem(8); /* Set padding */
    border: 1px solid $green; /* Set border */
    // border-radius: 4px; /* Optional: for rounded corners */
    font-size: rem(16); /* Set font size */
    // resize: vertical; /* Allow vertical resize */
    resize: none;
    outline: none; /* Remove outline */
    box-sizing: border-box; /* Include border and padding in the element's dimensions */
  }



// 同意確認
.contact__accept {
    // padding-top: rem(40);
    padding-top: rem(41.6);
    // margin-top: rem(24);
    border-top: 1px dashed $green;
    // width: calc(282 / 345 * 100%);
    width: 100%;
    text-align: center;
    @include mq("md") {
        // margin-top: rem(40);
        // padding-top: rem(80);
        padding-top: rem(76.8);
    }
}

// .contact__accept-check {
//     display: inline-block;
//     width: calc(282 / 345 * 100%);
//     text-align: left;
//     @include mq("md") {
//         width: 100%;
//         text-align: center;
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="accept"] {
    display: inline-block;
    width: calc(282 / 345 * 100%);
    text-align: left;
    @include mq("md") {
        width: 100%;
        text-align: center;
    }
}

    [type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

// .contact__accept-check-label {
//     position: relative;
//     display: inline-block;
//     padding-left: rem(22); /* カスタムチェックボックスにスペースを確保 */
//     cursor: pointer;
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-acceptance label {
    position: relative;
    display: inline-block;
    padding-left: rem(22); /* カスタムチェックボックスにスペースを確保 */
    cursor: pointer;
}

/* Custom Checkbox Design */
// .contact__accept-check-text::before {
//     content:"";
//     display: inline-block;
//     width: rem(22);
//     height: rem(22);
//     border: 1px solid $green;
//     position: absolute;
//     left: 0;
//     top: 0;
//     @include mq("md") {
//         top: rem(2);
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="accept"] .wpcf7-list-item-label::before {
    content:"";
    display: inline-block;
    width: rem(22);
    height: rem(22);
    border: 1px solid $green;
    position: absolute;
    left: 0;
    top: 0;
    @include mq("md") {
        top: rem(2);
    }
}

/* Custom Checkbox Checked State */
// [type="checkbox"]:checked + .contact__accept-check-text::before {
//     border-color: #3498db; /* Border color when checked */
//   }

// [type="checkbox"]:checked + .contact__accept-check-text::after {
//     content: "";
//     display: block;
//     width: rem(8);
//     height: rem(14.4);
//     border: solid $red;
//     border-width: 0 2px 2px 0;
//     position: absolute;
//     // top: 48%;
//     // top: 22%;
//     top: 45%;
//     left: rem(7);  /* Adjusted position */
//     transform: translateY(-50%) rotate(45deg);
// }

// Contact Form 7導入に伴うクラス名変更
[type="checkbox"]:checked + .wpcf7-list-item-label::after {
    content: "";
    display: block;
    width: rem(8);
    height: rem(14.4);
    border: solid $red;
    border-width: 0 2px 2px 0;
    position: absolute;
    // top: 48%;
    // top: 22%;
    top: 45%;
    left: rem(7);  /* Adjusted position */
    transform: translateY(-50%) rotate(45deg);
}

// アクセシビリティの観点で、選択されている部分に色を付ける場合は有効にする
/* Focus State */
// [type="checkbox"]:focus + .contact__accept-check-text::before {
//     outline: 2px solid $red; /* Outline color when focused */
//   }
// [type="checkbox"]:focus + .contact__accept-check-text::before {
//     outline: 1px solid $green; /* Outline color when focused */
//   }

// Contact Form 7導入に伴うクラス名変更
[type="checkbox"]:focus + .wpcf7-list-item-label::before {
    outline: 1px solid $green; /* Outline color when focused */
  }

// .contact__accept-check-text {
//     display: inline-block;
//     margin-left: rem(8);
//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(14);
//     line-height: 1.5714;
//     color: $black2;
//     @include mq("md") {
//         margin-left: rem(16);
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="accept"] .wpcf7-list-item-label {
    display: inline-block;
    margin-left: rem(8);
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(14);
    line-height: 1.5714;
    color: $black2;
    @include mq("md") {
        margin-left: rem(16);
    }
}

// よしなに
// .contact__accept-check-text > a {
//     color: $green;
//     text-decoration: underline;
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="accept"] .wpcf7-list-item-label > a {
    color: $green;
    text-decoration: underline;
}

// .contact__accept-check-text > a:hover {
//     @include mq("md") {
//         opacity: 0.8;
//     }
// }

// Contact Form 7導入に伴うクラス名変更
.wpcf7-form-control-wrap[data-name="accept"] .wpcf7-list-item-label > a:hover {
    @include mq("md") {
        opacity: 0.8;
    }
}

// アクセシビリティの観点で、選択されている部分に色を付ける場合は有効にする
/* Focus State */
// .contact__accept-check-text > a:focus {
//     outline: 2px solid $red; /* Outline color when focused */
//   }



// 送信ボタン
.contact__button {
    text-align: center;
    margin-top: rem(24);
    @include mq("md") {
        margin-top: rem(40);
    }
}

.contact__button-container {
    display: inline-block;
    // 改行ないことが前提
    line-height: 1;
    // 左右の値は取るけど少なめ（テキスト量増加に対応）
    // padding: 1.3286em 1em;
    padding: 1.14285em 1em;
    padding-left: 3.5em;
    // テキスト量変わってもボタン幅固定のため指定
    max-width: rem(202);
    width: 100%;
    // text-align: center;
    text-align: left;
    border: 1px solid $green;

    // ホバー時スライド用のコード
    background-color: $green;
    position: relative;
    z-index: 1;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.contact__button-container::after {
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.contact__button-container:hover::after {
    transform: scale(1, 1);
}

/* Style for the submit button */
[type="submit"] {
    border: none; /* Remove borders */
    padding: 0; /* Remove padding */
    // ボタンからの変更点
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(14);
    color: $white;
}

.contact__button-container:hover [type="submit"] {
    color: $green;
}

// アクセシビリティの観点で、選択されている部分に色を付ける場合は有効にする
/* Focus State */
// [type="submit"]:focus {
//     outline: 2px solid $red; /* Outline color when focused */
//   }
[type="submit"]:focus {
    outline: 1px solid $red; /* Outline color when focused */
  }

.contact__button-arrow {
    position: relative;
}

.contact__button-arrow::before {
    position: absolute;
    content: "";
    top: rem(5);
    left: rem(5);
    z-index: 1;

    // buttonと同じコード
    display: inline-block;
    // width: rem(40);
    width: rem(42.4);
    height: rem(6);
    -webkit-mask-image: url(../images/common/button-arrow.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(../images/common/button-arrow.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $white;
    margin-left: rem(9.6);
    padding-bottom: rem(12);
}

.contact__button-container:hover .contact__button-arrow::before {
    background-color: $green;
}

//  後ろ側の重なり部分
.contact__button-container::before {
    position: absolute;
    content: "";
    top: rem(4);
    // bottom: rem(-4.4);
    bottom: rem(-6);
    left: rem(4);
    right: rem(-5.6);
    border: 1px solid $green;
    z-index: -1;
  }




// WordPress化に伴うコード追記
// 送信ボタンのレイアウト崩れを防ぐため、以下のコードを追記
.wpcf7-spinner {
    display: none !important; //確実に非表示にする
}

