@use "global" as *;

.faq-accordion {
    position: relative;
}

.faq-accordion::before {
    display: inline-block;
    width: rem(120);
    height: rem(55);
    -webkit-mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $green;

    position: absolute;
    content: "";
    top: rem(-23.9);
    z-index: -10;
    // 画面幅広いときに広がりすぎないようにする
    // left: calc(50% - min(43vw, 38.75rem));
    // 画面狭いときに中に入りすぎないように調整
    left: calc(50% - min(50vw, 17.15rem));
    // あしらい画像サイズ可変する場合の例
    width: clamp(rem(150), 20.9vw, rem(301));
    @include mq("md") {
        top: rem(-68.7);
        width:rem(301);
        height:rem(138);
        left: calc(50% - min(43vw, 38.75rem));
    }
}

.faq-accordion__inner.inner {
    // コンテンツ幅345px＋左右padding15px分
    // max-width: rem(375);
    // コンテンツ幅540px＋左右padding15px分
    max-width: rem(570);
    @include mq("md") {
    // コンテンツ幅700px＋左右padding25px分
    max-width: rem(750);
    }
}

.faq-accordion__item:not(:first-child) {
    margin-top: rem(40);
}

.faq-accordion__title {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    color: $white;
    background-color: $green;
    padding: rem(16);
    padding-right: rem(60);
    cursor: pointer;
    // リンクではないので、ふわっと透過は不要
    // transition: opacity 0.3s;

    position: relative;
    @include mq("md") {
        font-size: rem(20);
        padding: rem(25) rem(40);
        padding-right: rem(112);
    }
}

// リンクではないので、ふわっと透過は不要
// .faq-accordion__title:hover {
//     @include mq("md") {
//         opacity: 0.8;
//     }
// }

// プラス記号の横棒の方
.faq-accordion__title::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: rem(28);
    height: 1px;
    background-color: $white;
    right: rem(16);
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    @include mq("md") {
        width: rem(32);
        right: rem(40);
    }
}

// アコーディオン開いている際は横棒は透明
.faq-accordion__title.is-open::before {
    opacity: 0;
}

// プラス記号の縦棒の方
.faq-accordion__title::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: rem(28);
    height: 1px;
    background-color: $white;
    right: rem(16);
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.3s;
    @include mq("md") {
        width: rem(32);
        right: rem(40);
    }
}

// アコーディオン開いている際は縦棒は回転して横になる
.faq-accordion__title.is-open::after {
    transform: translateY(-50%) rotate(180deg);
}






.faq-accordion__content {
    border: 1px solid $green;
    padding: rem(24) rem(16);
    // 最初は基本閉じた状態にしておく
    display: none;
    @include mq("md") {
        margin-top: rem(16);
        padding: rem(40);
    }
}

.faq-accordion__text {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    color: $black;
    line-height: 1.42;
}

