@use "global" as *;

.legal-document {
    position: relative;
}

.legal-document::before {
    display: inline-block;
    width: rem(120);
    height: rem(55);
    -webkit-mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $green;

    position: absolute;
    content: "";
    top: rem(-23.9);
    z-index: -10;
    // 画面幅広いときに広がりすぎないようにする
    // left: calc(50% - min(43vw, 38.75rem));
    // 画面狭いときに中に入りすぎないように調整
    left: calc(50% - min(50vw, 17.15rem));
    // あしらい画像サイズ可変する場合の例
    width: clamp(rem(150), 20.9vw, rem(301));
    @include mq("md") {
        top: rem(-68.7);
        width:rem(301);
        height:rem(138);
        left: calc(50% - min(43vw, 38.75rem));
    }
}


.legal-document__inner.inner {
    @include mq("md") {
        max-width: rem(850);
    }
}

// .legal-document__title {
//     font-family: $base-font-family;
//     font-weight: $medium;
//     font-size: rem(24);
//     color: $black;
//     @include mq("md") {
//         font-size: rem(32);
//     }
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document h2 {
    font-family: $base-font-family;
    font-weight: $medium;
    font-size: rem(24);
    color: $black;
    @include mq("md") {
        font-size: rem(32);
    }
}

// .legal-document__text {
//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(16);
//     line-height: calc(32 / 16);
//     color: $black;
//     // margin-top: rem(40);
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document p {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(32 / 16);
    color: $black;
    // margin-top: rem(40);
}

// .legal-document__text:nth-of-type(1){
//     margin-top: rem(40);
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document p:nth-of-type(1){
    margin-top: rem(40);
}

// .legal-document__text:nth-of-type(2){
//     margin-top: rem(33.5);
//     @include mq("md") {
//         margin-top: rem(32);
//     }
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document p:nth-of-type(2){
    margin-top: rem(33.5);
    @include mq("md") {
        margin-top: rem(32);
    }
}

// .legal-document__text:nth-of-type(3){
//     margin-top: rem(33.5);
//     @include mq("md") {
//         margin-top: rem(32);
//     }
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document p:nth-of-type(3){
    margin-top: rem(33.5);
    @include mq("md") {
        margin-top: rem(32);
    }
}

// .legal-document__list-ol {
//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(16);
//     line-height: calc(32 / 16);
//     color: $black;
//     // margin-top: rem(32);
//     list-style-type: decimal;
//     // text-indent: 1.4em;
//     padding-left: 1.4em;
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document ol {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(32 / 16);
    color: $black;
    // margin-top: rem(32);
    list-style-type: decimal;
    // text-indent: 1.4em;
    padding-left: 1.4em;
}

// .legal-document__list-ol:nth-of-type(1) {
//     margin-top: rem(32);
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document ol:nth-of-type(1) {
    margin-top: rem(32);
}



// 利用規約ページのみ適用
.legal-document__list-ol.legal-document__list-ol--margin {
    margin-top: rem(32);
}



// .legal-document__list-ul {
//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(16);
//     line-height: calc(32 / 16);
//     color: $black;
//     // list-style-type: disc;
//     text-indent: 0.8em;
//     // padding-left: 0.8em;
//     margin-top: rem(32);
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document ul {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(32 / 16);
    color: $black;
    // list-style-type: disc;
    text-indent: 0.8em;
    // padding-left: 0.8em;
    margin-top: rem(32);
}



// 利用規約ページのみ適用
.legal-document__list-ul.legal-document__list-ul--margin {
    margin-top: 0;
}



// デフォルトの中黒ではなく、オリジナルで作成
// .legal-document__list-ul > .legal-document__item::before {
//     position: relative;
//     content:"";
//     display: inline-block;
//     top: rem(-5);
//     left: rem(-6.3);
//     width: rem(4);
//     height: rem(4);
//     background-color: $black;
//     border-radius: 100%;
// }

// WordPress化に伴い、セレクタ当て直し
.legal-document ul > .legal-document li::before {
    position: relative;
    content:"";
    display: inline-block;
    top: rem(-5);
    left: rem(-6.3);
    width: rem(4);
    height: rem(4);
    background-color: $black;
    border-radius: 100%;
}