@use "global" as *;

.main-view {
    width: 100%;
    height: rem(460);
    position: relative;
    @include mq("md") {
        height: rem(548);
    }
}

.main-view__inner {
    height: inherit;
}

.main-view__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-family: $third-font-family;
    font-weight: $regular;
    font-size: rem(40);
    color: $white;
    @include mq("md") {
        font-size: rem(80);
        line-height: 1.25;
    }
}

.main-view__title::first-letter {
    text-transform: capitalize;
}

.main-view__img {
    width: 100%;
    height: inherit;
}

.main-view__img img {
    width: 100%;
    height: rem(460);
    object-fit: cover;
    @include mq("md") {
        height: rem(548);
    }
}


// FAQページのメインビュータイトルのみ適用
.main-view__title.main-view__title--uppercase {
    text-transform: uppercase;
}

// サイトマップページのタイトルに適用
.main-view__title-sitemap {
    text-transform: uppercase;
}

// プライバシーポリシーページのタイトルに適用
.main-view__title.main-view__title--capitalize {
    text-transform: capitalize;
}

// 利用規約ページのタイトルに適用
.main-view__title-terms {
    text-transform: capitalize;
}
