@use "global" as *;

.page-404 {
    background-color: $blue;
    position: relative;

    padding-top: rem(55.6);
    @include mq("md") {
        padding-top: rem(132.8);
        // PCサイズ時のみ背景画像に合わせてpadding-bottomを設定
        padding-bottom: rem(150);
    }
}

.page-404::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/common/whale-404-pc.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: clamp(rem(300), 87.7vw, rem(540));
    // width: clamp(rem(300), 91.7vw, rem(540));
    // vwの値は375px時にピクパした値、332pxはheight:100%で画像が見切れない幅に設定
    width: clamp(rem(300), 91.7vw, rem(332));
    height: 100%;
    @include mq("md") {
        // width: clamp(rem(600), 48.47vw, rem(1080));
        // vwの値は375px時にピクパした値、698pxはPCサイズ画像書き出し時のサイズに設定
        width: clamp(rem(698), 48.47vw, rem(698));
        top: 48%;
        left: 36.6%;
    }
}

.page-404__title {
    font-family: $third-font-family;
    font-weight: $regular;
    font-size: rem(80);
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    color: $white;
    line-height: 1;
    text-align: center;

    // 背景のあしらい画像がタイトルの上に来ていたため指定
    position: relative;
    z-index: 1;
    @include mq("md") {
        font-size: rem(160);
    }
}

.page-404__text {
    font-family: $third-font-family;
    font-weight: $regular;
    font-size: rem(16);
    color: $white;
    line-height: calc(24 / 16);
    text-align: center;
    margin-top: rem(5);
    @include mq("md") {
        margin-top: rem(40);
    }
}

.page-404__404-button {
    text-align: center;
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
}


