@use "global" as *;

.top-price-list__title {
    padding-bottom: rem(4);
    border-bottom: 1px solid $green;
    width: 100%;
    font-weight: $bold;
    font-size: rem(16);
    line-height: 1.5;
    text-align: left;
}

.top-price-list__content {
    margin-top: rem(8);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: rem(8);
    font-weight: $regular;
    font-size: rem(14);
    line-height: 1.714;
    @include mq("md") {
        font-size: rem(16);
        line-height: 1.5;
    }
}

.top-price-list__course {
    max-width: calc(calc(275 / 345) * 100%);
    width: 100%;
}

.top-price-list__price {
    max-width: calc(calc(70 / 345) * 100%);
    width: 100%;
    text-align: right;
}