@use "global" as *;

// 下層ページでも共通パーツとして使用する
.voice-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40);
    @include mq("md") {
        grid-template-columns: 1fr 1fr;
        gap: rem(80) rem(40);
    }
}

.voice-cards__item {
    // テキスト量が違ってもカード高さを揃えるために記述
    display: flex;
}