@use "global" as *;

.voice-card {
    display: inline-block;
    background-color: $white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    // padding: rem(15) rem(16) rem(24);
    // padding: rem(13.5) rem(16) rem(24);
    padding: rem(10.5) rem(16) rem(24);
    @include mq("md") {
        // padding: rem(24);
        // padding: rem(25) rem(24) rem(24);
        padding: rem(26.7) rem(24) rem(20.8);
    }
}

.voice-card__head {
    display: flex;
    align-items: flex-end;
    // gap: rem(13);
    gap: calc(calc(13 / 313) * 100%);
    @include mq("md") {
        // gap: rem(16);
        gap: calc(calc(16 / 472) * 100%);
    }
}

.voice-card__info {
    // max-width: calc(calc(149 / 300) * 100%);
    // max-width: rem(149);
    // width: 100%;
    width: calc(calc(149 / 313) * 100%);
    @include mq("md") {
        // max-width: calc(calc(276 / 456) * 100%);
        // max-width: rem(276);
        width: calc(calc(276 / 472) * 100%);
    }
}

.voice-card__meta {
    @include mq("md") {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.voice-card__customer-info {
    display: block;
    font-size: rem(12);
    line-height: 1.5;
}

.voice-card__category {
    display: inline-block;
    font-size: rem(12);
    line-height: 1.833;
    color: $green;
    // padding: rem(4) rem(12);
    padding: rem(4) rem(11);
    border: 1px solid $green;
    // 年齢（性別）の情報がなかった場合もレイアウト担保するため
    margin-left: auto;
    @include mq("md") {
        // padding: rem(6) rem(16);
        padding: rem(4.5) rem(15.2);
    }
}

.voice-card__title {
    font-weight: $medium;
    font-size: rem(16);
    border-bottom: 1px solid $green;
    // padding-bottom: rem(4);
    padding-bottom: rem(2.5);
    // margin-top: rem(4);
    margin-top: rem(5.5);
    @include mq("md") {
        font-size: rem(24);
        margin-top: rem(8);
        padding-bottom: 0;
    }
}

.voice-card__img {
    aspect-ratio: 151 / 117;
    overflow: hidden;
    // max-width: calc(calc(151 / 300) * 100%);
    // max-width: rem(151);
    // width: 100%;
    width: calc(calc(151 / 313) * 100%);

    // エフェクト用コード
    position: relative;

    @include mq("md") {
        aspect-ratio: 180 / 140;
        // max-width: calc(calc(180 / 456) * 100%);
        // max-width: rem(180);
        // width: 100%;
        width: calc(calc(180 / 472) * 100%);

    }
}

// エフェクト用コード
.voice-card__img .color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $green;
}

.voice-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    // エフェクト用コード
    display: block;
}

.voice-card__text {
    margin-top: rem(15);
    font-size: rem(16);
    line-height: 1.5;
    @include mq("md") {
        // margin-top: rem(40);
        margin-top: rem(41.5);
    }
}


